<div class="px-5 bg-body-secondary">
    <footer class="py-5">
        <div class="row justify-content-center">
            <div class="col-lg-2 col-sm-12 mb-3 justify-content-center">
                <img src="assets/images/logo.png" class="d-block img-fluid mx-auto" width="150px">
            </div>
            <div class="col-lg-2 col-sm-4 mb-3">
                <h5>Complex Bosdreef</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">Bosdreef 57</li>
                    <li class="nav-item mb-2">9080 Lochristi</li>
                    <li class="nav-item mb-2">09 355 02 52</li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">info&#64;sklochristi.be</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-sm-4 mb-3">
                <h5>Complex Beervelde</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">Beerveldsebaan 24</li>
                    <li class="nav-item mb-2">9080 Lochristi</li>
                    <li class="nav-item mb-2">09 355 95 10</li>
                </ul>
            </div>

            <div class="col-lg-2 col-sm-4 mb-3r">
                <h5>Links</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Privacy & algemene voorwaarden</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">KBVB</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Kalender</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Aanduidingen</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Afgelastingen</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Sportongevallen & tussenkomst ziekenbond</a></li>
                </ul>
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row col-12 justify-content-center py-4 my-4 border-top">
            <p>© 2024 SK Lochristi, All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-body-emphasis bg-black" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#twitter"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="link-body-emphasis bg-black" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook"></use>
                        </svg></a></li>
            </ul>
        </div>
    </footer>
</div>