<nav class="navbar bg-body navbar-expand-lg fixed-top border-bottom border-primary">
    <div class="container-fluid">
        <img src="assets/images/logo.png" width="30px">
        <a class="navbar-brand px-3" routerLink="/home" routerLinkActive="router-link-active">S.K. Lochristi</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <img src="assets/images/logo.png" width="30px">
                <h5 class="offcanvas-title px-3" id="offcanvasNavbarLabel">S.K. Lochristi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body align-start">
                <ul class="navbar-nav justify-content-start flex-grow-1">
                    <li class="nav-item px-3">
                        <a class="nav-link active" aria-current="page" routerLink="/home" data-bs-dismiss="offcanvas">Home</a>
                    </li>
                    <li class="nav-item dropdown px-3">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data- data-bs-toggle="dropdown" aria-expanded="false">
                            Nieuws
                        </a>
                        <ul class="dropdown-menu animate__animated animate__faster animate__slideInLeft animate__fadeOutright">
                            <li><a class="dropdown-item" routerLink="/blog" data-bs-dismiss="offcanvas">Blog</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown px-3">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data- data-bs-toggle="dropdown" aria-expanded="false">
                            Club
                        </a>
                        <ul class="dropdown-menu animate__animated animate__faster animate__slideInLeft animate__fadeOutright">
                            <li><a class="dropdown-item" href="#" data-bs-dismiss="offcanvas">Seniors</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#" data-bs-dismiss="offcanvas">Jeugd</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#" data-bs-dismiss="offcanvas">Algemeen</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown px-3">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data- data-bs-toggle="dropdown" aria-expanded="false">
                            Sponsoring
                        </a>
                        <ul class="dropdown-menu animate__animated animate__faster animate__slideInLeft animate__fadeOutright">
                            <li><a class="dropdown-item" href="#" data-bs-dismiss="offcanvas">Sponsoring</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#" data-bs-dismiss="offcanvas">Business friends</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#" data-bs-dismiss="offcanvas">Sponsor worden</a></li>
                        </ul>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" href="#" data-bs-dismiss="offcanvas">Activiteiten</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>