<div class="container-fluid col-xxl-12 px-4 py-5" id="backgroundVoetbalveld">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-sm-12 col-lg-6 justify-content-center">
            <img src="assets/images/logo.png" class="d-block mx-auto img-fluid" alt="Bootstrap Themes" width="300" height="300">
        </div>
        <div class="col-sm-12 col-lg-6">
            <h1 class="display-5 fw-bolder text-white text-center lh-1 mb-3" style="text-shadow: 0 0 10px #000000, 0 0 10px #000000;">SK Lochristi</h1>
            <h2 class="display-5 fw-bolder text-white text-center lh-1 mb-3" style="text-shadow: 0 0 10px #000000, 0 0 10px #000000;">2E Provinciale A</h2>
        </div>
    </div>
</div>